In [94]:
2+5

7

this and one below are just basic addition, spaces do nothing to equations

In [2]:
2 + 5

7

In [3]:
2*5

10

STAR indicates you are multiplying 2 things together, also in typing this learned that for whatever reason you cannot use a star in a markdown cell unless "*" putting in quotes

In [4]:
2/5

0.4

In [96]:
type(4/2)

float

this does simple division but converts it from integers to a float even if it works out to be an integer - would need to convert to integer if you wanted that

In [5]:
2**5

32

it is 2 to the 5 i.e. 2^5

In [6]:
x = 7
x=x+3

takes the first statement and for the statement plugs 7 into the first x creating a new x value of 10 - if you ran again with just the x = x+3 it would become 13

In [7]:
x

10

In [8]:
x = 7

In [9]:
x = x+3

In [10]:
x

10

3. first this makes x = 3 , then with x = y it makes y = 3, then because afterwards you change x it doesnt change y unless you run the cell again

In [11]:
x = 3

In [12]:
y = x

In [13]:
x = 10

In [14]:
y

3

In [15]:
x

10

4. yes this code runs without error because x is dividing integers by integers to create a float and z is adding strings with strings - which is possible

In [17]:
x= 3
x = x/2
y = 'abc'
z = y+ y
print(x,z)

1.5 abcabc

5. this does not work because it is trying to add floats with strings which is not possible - you can only add things with other things of the same 'type'

In [19]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

6. this works and sep means separate so it seperates each of the terms with a | and spaces on the sides of it

In [20]:
x = 3
y = 24
z = y/x
print (x, y, z, sep =' | ')

3 | 24 | 8.0

7. cannot divide different types - i.e. 3 is an integer and '24' is a string

In [21]:
x = 3
y = '24'
z = y/x
print (x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

8. it runs without error but it will only produce what is before the hash as everything after that is commented out, additionally it will only print whats in the quotes if you tell it to, as this code just defines x as "I am a string" but does not ask it to print it

In [22]:
x = "I am a string" # whoa, a string!

In [23]:
x

'I am a string'

9. it is adding 2 lists together - it happens to be that both of these lists are numbers

In [24]:
x = [1,2,3]
y = [42,43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

10. the error in this code is that it is trying to concatenate a list together with an integer - which cannot be done

In [97]:
x = [1,2,3]
y = 42
z = x + y
print(z)

TypeError: can only concatenate list (not "int") to list

11. x1 is an integer, x2 is a float becuase it has the .0, x3 is a string because its within ' ', x4 is a list with 1 entry, x5 is a list with multiple entries (integer, string, and a float)

In [25]:
x1 = 12
type (x1)

int

In [26]:
x2 = 12.0
type (x2)

float

In [27]:
x3 = '12.0'
type (x3)

str

In [30]:
x4 = [12]
type(x4)

list

In [32]:
x5 = [12,12.0,'12.0']
type (x5)

list

12. 42 is an integer - it is just any number without a decimal, 42.0 - a floating point number is any number with a decimal, '42,0', "42.0", and """42.0""" are all strings which basically views the numbers as characters, [1,2] is a list containing 2 integers, ([1] + [2]) is two elements of a list, when you are just adding 2 integers together the result is an integer, and lastly builtin_function_or_method is just something that is a function that is already in python that we can use to do something, in this case print is used to give us an out value in cases where one might not be given

In [34]:
type(42)

int

In [35]:
type(42.0)

float

In [36]:
type('42.0')

str

In [37]:
type("42.0")

str

In [101]:
type("""42.0""")

str

In [39]:
type([1,2])

list

In [42]:
type ([1] + [2])

list

In [102]:
([1]+[2])

[1, 2]

In [43]:
type (1+2)

int

In [44]:
type(print)

builtin_function_or_method

13. first it converts '1234' into the integer 1234, then into a string with the characters 1234, and lastly into a float 
essentially representing 1234.0

In [103]:
type(float(str(int('1234'))))

float

14. this turns '12.34' from a string to a float and then to an integer by truncating everything after the decimal
to just make the answer 12

In [108]:
type(int(float('12.34')))

int

this is just asking the length of the list, because there is one term in the brackets the length of the list is 1

In [1]:
len([1234])

1

this is essentially asking how many characters are in this string, which in our case is 4 numbers

In [2]:
len("1234")

4

you cannot find the length of an integer, if you want to know how many digits you would use ""

In [3]:
len(1234)

TypeError: object of type 'int' has no len()

16. this is a list with 0 terms in the brackets

In [51]:
x = [ ]

In [55]:
type(x)

list

In [56]:
len(x)

0

In [ ]:
it looks like 5 different terms in a list each in '' single quotes

In [4]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

In [61]:
x_list = list(x)

In [63]:
type(x_list)

list

In [64]:
x_list

['a', 'b', 'c', 'd', 'e']

18.

In [65]:
x = 1234

In [67]:
x_float = float(x)
type(x_float)

float

In [68]:
x_float

1234.0

In [72]:
x_string = str(x)
print(type(x_string))
print(x_string)

<class 'str'>
1234

In [78]:
x_list = list(str(x))
print(type(x_list))
print(x_list)

<class 'list'>
['1', '2', '3', '4']

19

In [81]:
x = "luke, i am your father"
x.title?

In [82]:
x.title()

'Luke, I Am Your Father'

20.

In [84]:
x = "How many characters and words are in this string?"
len(x)

49

In [90]:
x_list = list(x)
x_list

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [91]:
x.rsplit?

In [87]:
x_wordlist = x.rsplit(" ")
x_wordlist

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [92]:
len(x_wordlist)

9

Completion time: ~ 100 minutes